<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Get Bootstrap CSS CDN from https://getbootstrap.com/docs/5.2/getting-started/introduction/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <!-- Get Bootstrap icons CDN from https://icons.getbootstrap.com/#install -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- Custom CSS with Sass Compiling ( requires npm install bootstrap & VSCode Extension Live Sass Compiler ) -->
     <link rel="stylesheet" href="/css/main.min.css">
    <!-- My Custom Reports CSS -->
    <link rel="stylesheet" href="/css/reports.css">
    <script defer href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Create New Expense Report</title>
   
</head>
<body>

    <%- include('./partials/navbar') %>

    <!-- title -->
    <section>
        <div class="container-lg border rounded-border ps-3 pe-3 bg-altbrown">
            <div class="row justify-content-start align-items-center">
               
                <div class="col-md-10">
                    <div class="lead text-white fw-bold">CREATE NEW EXPENSE REPORT</div>
                </div>
                <!-- 
                <div class="col-md-2 d-none d-md-block">
                    <img class="img-fluid" src="/images/power_web.jpg" alt="logo">
                </div> -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section>

    <section>
        <div class="container-lg mt-0 mb-0 ps-0 pe-0">
            <div class="row justify-content-start align-items-center">
                <div class="col">    
                    <!-- error messages if any -->
                    <%- include('./partials/messages') %>
                </div>
            </div>
        </div>
    </section>
 

    <!-- FORM -->
    <form action="/create/expense" method="POST">

    <!-- employee info -->
    <section>
        <div class="container-lg border rounded-border">
            <div class="row justify-content-start align-items-center">

                <div class="col-md-9">
                    <label for="name" class="form-label lead mb-0 text-black fw-bold">
                        <!-- <i class="bi bi-person-vcard-fill"></i> -->
                        EMPLOYEE NAME</label>
                    <input type="text" name="employee_name" class="form-control" 
                           value="<%= typeof employee_name != 'undefined' ? employee_name : '' %>">
                </div>

                <div class="col-md-3">
                    <label for="er" class="form-label lead mb-0 text-black fw-bold">
                        <!-- <i class="bi bi-border-width"></i> -->
                        BADGE #
                    </label>
                    <input type="text" name="badge" class="form-control" 
                           value="<%= typeof badge != 'undefined' ? badge : '' %>">
                </div>

            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section>


    <!-- dates and locations -->
    <section>
        <div class="container-lg border rounded-border">
            <div class="lead text-black fw-bold">DATES & LOCATIONS</div>
            <div class="row justify-content-start align-items-center mt-0">

                <div class="col-lg-1">
                    <label for="sun" class="form-label mb-0">SUN</label>
                    <input type="text" name="sun_date" class="form-control mb-1" 
                           value="<%= typeof sun_date != 'undefined' ? sun_date : '' %>">
                    <input type="text" name="sun_location" class="form-control" 
                           value="<%= typeof sun_location != 'undefined' ? sun_location : '' %>">
                </div>

                <div class="col-lg-2">
                    <label for="mon" class="form-label mb-0">MON</label>
                    <input type="text" name="mon_date" class="form-control mb-1" 
                           value="<%= typeof mon_date != 'undefined' ? mon_date : '' %>">
                    <input type="text" name="mon_location" class="form-control" 
                           value="<%= typeof mon_location != 'undefined' ? mon_location : '' %>">
                </div>
                
                <div class="col-lg-2">
                    <label for="tue" class="form-label mb-0">TUE</label>
                    <input type="text" name="tue_date" class="form-control mb-1" 
                           value="<%= typeof tue_date != 'undefined' ? tue_date : '' %>">
                    <input type="text" name="tue_location" class="form-control" 
                           value="<%= typeof tue_location != 'undefined' ? tue_location : '' %>">
                </div>

                <div class="col-lg-2">
                    <label for="wed" class="form-label mb-0">WED</label>
                    <input type="text" name="wed_date" class="form-control mb-1" 
                           value="<%= typeof wed_date != 'undefined' ? wed_date : '' %>">
                    <input type="text" name="wed_location" class="form-control" 
                           value="<%= typeof wed_location != 'undefined' ? wed_location : '' %>">
                </div>

                <div class="col-lg-2">
                    <label for="thu" class="form-label mb-0">THU</label>
                    <input type="text" name="thu_date" class="form-control mb-1" 
                           value="<%= typeof thu_date != 'undefined' ? thu_date : '' %>">
                    <input type="text" name="thu_location" class="form-control" 
                           value="<%= typeof thu_location != 'undefined' ? thu_location : '' %>">
                </div>
                
                <div class="col-lg-2">
                    <label for="fri" class="form-label mb-0">FRI</label>
                    <input type="text" name="fri_date" class="form-control mb-1" 
                           value="<%= typeof fri_date != 'undefined' ? fri_date : '' %>">
                    <input type="text" name="fri_location" class="form-control" 
                           value="<%= typeof fri_location != 'undefined' ? fri_location : '' %>">
                </div>      
                
                <div class="col-lg-1">
                    <label for="sat" class="form-label mb-0">SAT</label>
                    <input type="text" name="sat_date" class="form-control mb-1" 
                           value="<%= typeof sat_date != 'undefined' ? sat_date : '' %>">
                    <input type="text" name="sat_location" class="form-control" 
                           value="<%= typeof sat_location != 'undefined' ? sat_location : '' %>">
                </div> 

            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section>


    <!-- employee-paid expenses -->
    <section>
        <div class="container-lg border rounded-border">
            <div class="lead text-black fw-bold">EMPLOYEE-PAID EXPENSES</div>

            <!-- Row: -->
            <div class="row justify-content-start align-items-center mt-1">

                <!-- Col: -->
                <div class="col-lg-3">
                <div>&nbsp;</div>
                    <label for="expense" class="form-label">
                        <i class="bi bi-reception-4"></i>
                           PHONE
                    </label>
                </div>

                <div class="col-lg-1">
                    <label for="sun" class="form-label mb-0">SUN</label>
                    <input type="text" class="form-control" name="ee_phone_sun" 
                           value="<%= typeof ee_phone_sun != 'undefined' ? ee_phone_sun : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="mon" class="form-label mb-0">MON</label>
                    <input type="text" class="form-control" name="ee_phone_mon" 
                           value="<%= typeof ee_phone_mon != 'undefined' ? ee_phone_mon : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="tue" class="form-label mb-0">TUE</label>
                    <input type="text" class="form-control" name="ee_phone_tue" 
                           value="<%= typeof ee_phone_tue != 'undefined' ? ee_phone_tue : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="wed" class="form-label mb-0">WED</label>
                    <input type="text" class="form-control" name="ee_phone_wed" 
                           value="<%= typeof ee_phone_wed != 'undefined' ? ee_phone_wed : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="thu" class="form-label mb-0">THU</label>
                    <input type="text" class="form-control" name="ee_phone_thu" 
                           value="<%= typeof ee_phone_thu != 'undefined' ? ee_phone_thu : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="fri" class="form-label mb-0">FRI</label>
                    <input type="text" class="form-control" name="ee_phone_fri" 
                           value="<%= typeof ee_phone_fri != 'undefined' ? ee_phone_fri : '' %>">
                </div>
                <div class="col-lg-1">
                    <label for="sat" class="form-label mb-0">SAT</label>
                    <input type="text" class="form-control" name="ee_phone_sat" 
                           value="<%= typeof ee_phone_sat != 'undefined' ? ee_phone_sat : '' %>">
                </div>

                <div class="col-lg-2">
                    <label for="subtotal" class="form-label mb-0">SUBTOTAL</label>
                    <input type="text" class="form-control" name="ee_phone_subtotal" 
                           value="<%= typeof ee_phone_subtotal != 'undefined' ? ee_phone_subtotal : '' %>">
                </div>
                
            </div> <!-- end of row -->
 
            <!-- Row: -->
            <div class="row justify-content-start align-items-center mt-1">

                <!-- Col: -->
                <div class="col-lg-3">

                    <label for="expense" class="form-label">
                        <i class="bi bi-bus-front-fill"></i>
                           BUS/RAIL FARE
                    </label>
                </div>

                <div class="col-lg-1">
                    <label for="sun" class="form-label d-lg-none mb-0">SUN</label>
                    <input type="text" class="form-control" name="ee_bus_sun" 
                           value="<%= typeof ee_bus_sun != 'undefined' ? ee_bus_sun : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="mon" class="form-label d-lg-none mb-0">MON</label>
                    <input type="text" class="form-control" name="ee_bus_mon" 
                           value="<%= typeof ee_bus_mon != 'undefined' ? ee_bus_mon : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="tue" class="form-label d-lg-none mb-0">TUE</label>
                    <input type="text" class="form-control" name="ee_bus_tue" 
                           value="<%= typeof ee_bus_tue != 'undefined' ? ee_bus_tue : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="wed" class="form-label d-lg-none mb-0">WED</label>
                    <input type="text" class="form-control" name="ee_bus_wed" 
                           value="<%= typeof ee_bus_wed != 'undefined' ? ee_bus_wed: '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="thu" class="form-label d-lg-none mb-0">THU</label>
                    <input type="text" class="form-control" name="ee_bus_thu" 
                           value="<%= typeof ee_bus_thu != 'undefined' ? ee_bus_thu : '' %>">
                </div>
                <div class="col-lg-1">
                    <label for="fri" class="form-label d-lg-none mb-0">FRI</label>
                    <input type="text" class="form-control" name="ee_bus_fri" 
                           value="<%= typeof ee_bus_fri != 'undefined' ? ee_bus_fri : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="sat" class="form-label d-lg-none mb-0">SAT</label>
                    <input type="text" class="form-control" name="ee_bus_sat" 
                           value="<%= typeof ee_bus_sat != 'undefined' ? ee_bus_sat : '' %>">
                </div>

                <div class="col-lg-2">
                    <label for="subtotal" class="form-label d-lg-none mb-0">SUBTOTAL</label>
                    <input type="text" class="form-control" name="ee_bus_subtotal" 
                           value="<%= typeof ee_bus_subtotal != 'undefined' ? ee_bus_subtotal : '' %>">
                </div>
                
            </div> <!-- end of row -->

            <!-- Row: -->
            <div class="row justify-content-start align-items-center mt-1">

                <!-- Col: -->
                <div class="col-lg-3">
                    <label for="expense" class="form-label">
                        <i class="bi bi-wrench-adjustable"></i>
                           TOOLS
                    </label>
                </div>

                <div class="col-lg-1">
                    <label for="sun" class="form-label d-lg-none mb-0">SUN</label>
                    <input type="text" class="form-control" name="ee_tools_sun" 
                           value="<%= typeof ee_tools_sun != 'undefined' ? ee_tools_sun : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="mon" class="form-label d-lg-none mb-0">MON</label>
                    <input type="text" class="form-control" name="ee_tools_mon" 
                           value="<%= typeof ee_tools_mon != 'undefined' ? ee_tools_mon : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="tue" class="form-label d-lg-none mb-0">TUE</label>
                    <input type="text" class="form-control" name="ee_tools_tue" 
                           value="<%= typeof ee_tools_tue != 'undefined' ? ee_tools_tue : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="wed" class="form-label d-lg-none mb-0">WED</label>
                    <input type="text" class="form-control" name="ee_tools_wed" 
                           value="<%= typeof ee_tools_wed != 'undefined' ? ee_tools_wed : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="thu" class="form-label d-lg-none mb-0">THU</label>
                    <input type="text" class="form-control" name="ee_tools_thu" 
                           value="<%= typeof ee_tools_thu != 'undefined' ? ee_tools_thu : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="fri" class="form-label d-lg-none mb-0">FRI</label>
                    <input type="text" class="form-control" name="ee_tools_fri" 
                           value="<%= typeof ee_tools_fri != 'undefined' ? ee_tools_fri : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="sat" class="form-label d-lg-none mb-0">SAT</label>
                    <input type="text" class="form-control" name="ee_tools_sat" 
                           value="<%= typeof ee_tools_sat != 'undefined' ? ee_tools_sat : '' %>">
                </div>

                <div class="col-lg-2">
                    <label for="subtotal" class="form-label d-lg-none mb-0">SUBTOTAL</label>
                    <input type="text" class="form-control" name="ee_tools_subtotal" 
                           value="<%= typeof ee_tools_subtotal != 'undefined' ? ee_tools_subtotal : '' %>">
                </div>

            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section>


    <!-- company-paid expenses -->
    <section>
        <div class="container-lg border rounded-border">

            <div class="lead text-black fw-bold">COMPANY-PAID EXPENSES</div>
    
            <!-- Row: -->
            <div class="row justify-content-start align-items-center mt-1">

                <!-- Col: -->
                <div class="col-lg-3">
                    <div>&nbsp;</div>
                    <label for="expense" class="form-label">
                        <i class="bi bi-car-front-fill"></i>
                           CAR RENTAL
                    </label>
                </div>

                <div class="col-lg-1">
                    <label for="sun" class="form-label mb-0">SUN</label>
                    <input type="text" class="form-control" name="com_rental_sun" 
                           value="<%= typeof com_rental_sun != 'undefined' ? com_rental_sun : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="mon" class="form-label mb-0">MON</label>
                    <input type="text" class="form-control" name="com_rental_mon" 
                           value="<%= typeof com_rental_mon != 'undefined' ? com_rental_mon : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="tue" class="form-label mb-0">TUE</label>
                    <input type="text" class="form-control" name="com_rental_tue" 
                           value="<%= typeof com_rental_tue != 'undefined' ? com_rental_tue : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="wed" class="form-label mb-0">WED</label>
                    <input type="text" class="form-control" name="com_rental_wed" 
                           value="<%= typeof com_rental_wed != 'undefined' ? com_rental_wed : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="thu" class="form-label mb-0">THU</label>
                    <input type="text" class="form-control" name="com_rental_thu" 
                           value="<%= typeof com_rental_thu != 'undefined' ? com_rental_thu : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="fri" class="form-label mb-0">FRI</label>
                    <input type="text" class="form-control" name="com_rental_fri" 
                           value="<%= typeof com_rental_fri != 'undefined' ? com_rental_fri : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="sat" class="form-label mb-0">SAT</label>
                    <input type="text" class="form-control" name="com_rental_sat" 
                           value="<%= typeof com_rental_sat != 'undefined' ? com_rental_sat : '' %>">
                </div>

                <div class="col-lg-2">
                    <label for="subtotal" class="form-label mb-0">SUBTOTAL</label>
                    <input type="text" class="form-control" name="com_rental_subtotal" 
                           value="<%= typeof com_rental_subtotal != 'undefined' ? com_rental_subtotal : '' %>">
                </div>
                
            </div> <!-- end of row -->

            <!-- Row: -->
            <div class="row justify-content-start align-items-center mt-1">

                <!-- Col: -->
                <div class="col-lg-3">
                    <label for="expense" class="form-label">
                        <i class="bi bi-reception-4"></i>
                           PHONE
                    </label>
                </div>

                <div class="col-lg-1">
                    <label for="sun" class="form-label d-lg-none mb-0">SUN</label>
                    <input type="text" class="form-control" name="com_phone_sun" 
                           value="<%= typeof com_phone_sun != 'undefined' ? com_phone_sun : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="mon" class="form-label d-lg-none mb-0">MON</label>
                    <input type="text" class="form-control" name="com_phone_mon" 
                           value="<%= typeof com_phone_mon != 'undefined' ? com_phone_mon : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="tue" class="form-label d-lg-none mb-0">TUE</label>
                    <input type="text" class="form-control" name="com_phone_tue" 
                           value="<%= typeof com_phone_tue != 'undefined' ? com_phone_tue : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="wed" class="form-label d-lg-none mb-0">WED</label>
                    <input type="text" class="form-control" name="com_phone_wed" 
                           value="<%= typeof com_phone_wed != 'undefined' ? com_phone_wed : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="thu" class="form-label d-lg-none mb-0">THU</label>
                    <input type="text" class="form-control" name="com_phone_thu" 
                           value="<%= typeof com_phone_thu != 'undefined' ? com_phone_thu : '' %>">
                </div>
                <div class="col-lg-1">
                    <label for="fri" class="form-label d-lg-none mb-0">FRI</label>
                    <input type="text" class="form-control" name="com_phone_fri" 
                           value="<%= typeof com_phone_fri != 'undefined' ? com_phone_fri : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="sat" class="form-label d-lg-none mb-0">SAT</label>
                    <input type="text" class="form-control" name="com_phone_sat" 
                           value="<%= typeof com_phone_sat != 'undefined' ? com_phone_sat : '' %>">
                </div>

                <div class="col-lg-2">
                    <label for="subtotal" class="form-label d-lg-none mb-0">SUBTOTAL</label>
                    <input type="text" class="form-control" name="com_phone_subtotal" 
                           value="<%= typeof com_phone_subtotal != 'undefined' ? com_phone_subtotal : '' %>">
                </div>

            </div> <!-- end of row -->

            <!-- Row: -->
            <div class="row justify-content-start align-items-center mt-1">

                <!-- Col: -->
                <div class="col-lg-3">
                    <label for="expense" class="form-label">
                        <i class="bi bi-airplane-fill"></i>
                           PLANE
                    </label>
                </div>

                <div class="col-lg-1">
                    <label for="sun" class="form-label d-lg-none mb-0">SUN</label>
                    <input type="text" class="form-control" name="com_plane_sun" 
                           value="<%= typeof com_plane_sun != 'undefined' ? com_plane_sun : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="mon" class="form-label d-lg-none mb-0">MON</label>
                    <input type="text" class="form-control" name="com_plane_mon" 
                           value="<%= typeof com_plane_mon != 'undefined' ? com_plane_mon : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="tue" class="form-label d-lg-none mb-0">TUE</label>
                    <input type="text" class="form-control" name="com_plane_tue" 
                           value="<%= typeof com_plane_tue != 'undefined' ? com_plane_tue : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="wed" class="form-label d-lg-none mb-0">WED</label>
                    <input type="text" class="form-control" name="com_plane_wed" 
                           value="<%= typeof com_plane_wed != 'undefined' ? com_plane_wed : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="thu" class="form-label d-lg-none mb-0">THU</label>
                    <input type="text" class="form-control" name="com_plane_thu" 
                           value="<%= typeof com_plane_thu != 'undefined' ? com_plane_thu : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="fri" class="form-label d-lg-none mb-0">FRI</label>
                    <input type="text" class="form-control" name="com_plane_fri" 
                           value="<%= typeof com_plane_fri != 'undefined' ? com_plane_fri : '' %>">
                </div>

                <div class="col-lg-1">
                    <label for="sat" class="form-label d-lg-none mb-0">SAT</label>
                    <input type="text" class="form-control" name="com_plane_sat" 
                        value="<%= typeof com_plane_sat != 'undefined' ? com_plane_sat : '' %>">
                </div>

                <div class="col-lg-2">
                    <label for="subtotal" class="form-label d-lg-none mb-0">SUBTOTAL</label>
                    <input type="text" class="form-control" name="com_plane_subtotal" 
                           value="<%= typeof com_plane_subtotal != 'undefined' ? com_plane_subtotal: '' %>">
                </div>
                
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section>


    <!-- other expenses -->
    <section>
        <div class="container-lg border rounded-border">
            <div class="lead text-black fw-bold">OTHER EXPENSES</div>
            <div class="row justify-content-start align-items-center">
                <div class="col-lg-12">
                    <textarea class="form-control" name="other_expenses"><%= typeof other_expenses != 'undefined' ? other_expenses: '' %></textarea>
                </div>
            </div> <!-- end of row -->

            <div class="row justify-content-start align-items-center">
                <label for="confirmation"> 
                    <input type="checkbox" class="form-checkbox me-1" name="confirmed" 
                    <%= typeof confirmed != 'undefined' ? 'checked' : '' %>>
                    I hereby certify that the above expenditures represent cash spent for legitimate business only
                </label>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section>


    <!-- grand totals -->
    <section>
        <div class="container-lg border rounded-border">
            <div class="row justify-content-end align-items-center">
                
                <div class="col-lg-3">
                    <label for="total_expenses" class="lead text-black fw-bold">TOTAL EXPENSES
                        <input type="text" name="total_expenses" class="form-control" 
                               value="<%= typeof total_expenses != 'undefined' ? total_expenses : '' %>">
                    </label>
                </div>
            </div>  <!-- end of row -->

            <div class="row justify-content-end align-items-center mb-1">
                <div class="col-lg-3">
                    <label for="company_paid" class="lead text-black fw-bold">COMPANY PAID
                          <input type="text" name="company_paid" class="form-control" 
                                 value="<%= typeof company_paid != 'undefined' ? company_paid : '' %>">
                    </label>
                </div>
            </div> <!-- end of row-->

            <div class="row justify-content-end align-items-center mb-1">
                <div class="col-lg-3">
                    <label for="due_employee" class="lead text-black fw-bold">DUE EMPLOYEE
                          <input type="text" name="due_employee" class="form-control" 
                                 value="<%= typeof due_employee != 'undefined' ? due_employee : '' %>">
                    </label>
                </div>
            </div> <!-- end of row-->
        </div> <!-- end of container -->
    </section>
  
    <section>
        <div class="container">
            <div class="row justify-content-start align-items-center mt-0">
                <div class="col">
                    <div class="form-group">
                        <button type="submit" 
                                class="btn btn-lg btn-altbrown btn-block fw-bold">
                                Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    </form>
</body>
</html>